.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* IDs */

.idCard {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border: 1px solid lightgrey;
}

.cardContainer {
  display: flex;
  align-items: center;
}

.cardContainer > img {
  width: 120px;
  margin: 5px;
}

.cardIDetails {
  margin-left: 20px;
}

.cardIDetails > p {
  margin: 3px;
  text-align: left;
}

.delete {
  margin-left: auto;
  background-color: rgb(240, 81, 81);
  color: white;
  border: none;
  border-radius: 25px;
  padding: 5px 10px;
  cursor: pointer;
}

.delete:hover {
  background-color: darkred;
}

button.delete {
  margin-right: 20px;
}

/* GREETING */

.greeting {
  border: 1px solid black;
  margin: 7px;
  padding: 5px;
  text-align: left;
}

/* RANDOM */

.random {
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
  text-align: left;
}

/* BOXES */

.boxColor {
  border: 1px solid black;
  margin: 5px;
  padding: 20px;
  text-align: center;
}

/* CCs */

.credit-card {
  margin: 10px;
  border-radius: 10px;
  height: 190px;
  width: 350px;
}

.credit-card > h2 {
  text-align: center;
  letter-spacing: 3px;
  font-size: 1.8em;
  font-weight: 400;
  margin: 18px;
}

.credit-card > img {
  margin-left: auto;
  display: block;
  padding: 10px 10px 0px 0px;
}

.card-data {
  margin: 0px 0px 0px 15px;
  text-align: left;
}

.cc-owner {
  margin: 0px 0px 0px 15px;
  text-align: left;
}

/* RATINGS */

.rating {
  margin-left: 5px;
}

/* DRIVERS */

.driverCard {
  display: flex;
  align-items: center;
  background-color: rgb(71,91,181);
  margin: 7px;
  border-radius: 10px;
  color:white;
  height: 150px;
}

.driverCard > img {
  border-radius: 50%;
  margin-left: 35%;
  width: 120px;
  height: 120px;
  align-content: center;
}

.driverDetails {
  margin-left: 10px;
}

.driverDetails > h2 {
  margin:0px;
}

.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center; 
  align-items: center; 
}

.btn-like {
  padding: 20px;
  margin: 20px;
  border-radius: 15px;
}

.number-box {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 1px solid black;
  text-align: center;
  line-height: 50px;
  margin-right: 5px;
}

.number-box.even {
  background-color: red;
}

.number-box.odd {
  background-color: white;
}

button {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 14px;
  padding: 8px 12px;
  margin: 4px;
  border: 1px solid black;
  border-radius: 4px;
  color: #FFF;
  background-color: #43A5BE;
  cursor: pointer;
}

button.selected {
  background-color: #FFF;
  color: #43A5BE;
}

.country-btn {
  margin-right: 8px;
  padding: 4px 8px;
  background-color: transparent;
  border: 2px solid #43A5BE;
  border-radius: 4px;
  color: #43A5BE;
  font-size: 16px;
  font-weight: bold;
}

.country-btn.selected {
  background-color: #43A5BE;
  color: white;
}

.more-btn {
  margin-right: 8;
  height: 50px;
  gap: 2px;
}

#greeting{
  margin-top: 25px;
}

.form-submit {
  margin-top: 25px;
}

.buttons-container {
  margin: 20px;
  padding: 10px;
}

.components-container {
  margin: 20px;
  padding: 10px;
}

.component {
  margin: 20px;
  padding: 10px;
}

.color-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.color-box > label {
  margin-right: 10px;
}

.color-box > input {
  width: 75px;
}

.App > h1 {
  margin-top: 20px;
  font-size: 70px;
}

select {
  background-color: transparent;
  border: 1px solid black;
  font-size: 1em;
  padding: 0.5em;
  cursor: pointer;
}

select option:first-of-type {
  display: none;
}

.filter-component {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
}

select option {
  background-color: #43A5BE;
}

/* Facebook V2 selected country bkg blue. */

.facebook-container{
  display: flex;
  flex-direction: row;
  margin: 10px;
  padding: 15px;
  border:1px solid grey;
  border-radius: 7px;
}
.facebook-container img{
  width: 100px;
  object-fit: cover;
}
.facebook-user-container{
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.active {
  background-color: lightblue;
}

